/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;    

} */

.empty-cart-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.empty-cart-content h2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color:#363636;
    margin-bottom: 15px;
}

.empty-cart-content p {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color:#363636;
    margin: 12px 0;
}

.cart-button {
    width: 180px;
    height: 40px;
    margin: 15px 0;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    letter-spacing: 1px;
    margin: 15px 12px 15px 12px;
    font-weight: 100;
}

.blue-white-button {
    color: white;
    background-color:#023a51;
    border: 1px solid #023a51;
}

.blue-white-button:hover {
    background-color: #012330;
    border: 1px solid #012330;
}

.white-blue-button {
    background-color: white;
    color:#023a51;
    border: 1px solid #d9d9d9;
}

.white-blue-button:hover {
    border: 1px solid #023a51;
}

.white-brown-button {
    background-color: white;
    color:#866347;
    border: 1px solid #866347;
    margin-top: 10px;
}

.white-brown-button:hover {
    background-color: #866347;
    color:white;
}

.cart-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.left-container-item-detail {
    padding: 16px;
    width: 70%;
}

.right-container-order-detail {
    padding-top: 16px;
    padding-right: 16px;
    width: 30%;
    margin-top: 10px;
}

.left-container-item-detail h2 {
    margin-bottom: 40px;
    color: #363636;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 0.02px;
    line-height: 1.25;
    margin-top: 0px;
}

.shipping {
    font-size: 22px;
    letter-spacing: 0.02px;
    color: #363636;
    margin: 0 0 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    line-height: 26px;
}

.cart-table {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-card-with-remove {
    width: 28%;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
}

.cart-item-body {
    width: 72%;
}

.image-card-with-remove img {
    width: 100%;
    height: auto;
}

.remove-button {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.remove-button-content {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: .5px;
}

.x-remove {
    font-size: 18px;
}

.product-name {
    padding-bottom: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-bottom: 1px solid white;

}

.product-name:hover {
    border-bottom: 1px solid #866347;
    color:#866347;
}

.product-name a {
    text-decoration: none;
    color:#363636;
}

.product-name a:hover {
    text-decoration: none;
    color:#866347;
}

.price-and-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-price {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    margin-top: 35px;
}

.item-price-amount {
    font-size: 18px;
}

.item-quantity {
    display: flex;
    flex-direction: column;
}

.quantity {
    text-align: center;
}

.quantity-container input {
    height: 44px;
    padding: 0 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid #363636;
    background: white;
    border-radius: 2px;
    width: 4.5em;
    text-align: center;
}

.quantity-container input:focus {
    border: 1px solid #363636;
    outline-offset: 0px;
    outline: none;
}

.update-quantity {
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #866347;
    cursor: pointer;
    color:#866347;
}

.update-quantity:hover {
    color:#012330;
    border-bottom: 1px solid #012330;
}

.order-summary {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.6;
}

.order-subtotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.subtotal-item-count {
    margin-left: 5px;
    font-size: 14px;
}

.subtotal-ternary {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.subtotal-price {
    font-size: 18px;
}

.sales-tax-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #af1a31;
    margin-top: 15px;
    font-size: 14px;
}

.free-shipping {
    color: #af1a31;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.checkout-button {
    background-color: #af1a31;
    border: 1px solid #af1a31;
    color: white;
    height: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2.8;
    text-align: center;
    padding: 0 5px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.checkout-button:hover {
    border: 1px solid #880d20;
    background-color: #880d20;
}

.legal-text {
    line-height: 1.18;
    padding-top: 12px;
    font-size: 9px;
    letter-spacing: 0.01px;
    margin-bottom: 15px;
}