@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;    

}

.empty-cart-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.empty-cart-content h2{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color:#363636;
    margin-bottom: 15px;
}

.empty-cart-content p {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color:#363636;
    margin: 12px 0;
}

.cart-button {
    width: 180px;
    height: 40px;
    margin: 15px 0;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    letter-spacing: 1px;
    margin: 15px 12px 15px 12px;
    font-weight: 100;
}

.blue-white-button {
    color: white;
    background-color:#023a51;
    border: 1px solid #023a51;
}

.blue-white-button:hover {
    background-color: #012330;
    border: 1px solid #012330;
}

.white-blue-button {
    background-color: white;
    color:#023a51;
    border: 1px solid #d9d9d9;
}

.white-blue-button:hover {
    border: 1px solid #023a51;
}

.white-brown-button {
    background-color: white;
    color:#866347;
    border: 1px solid #866347;
    margin-top: 10px;
}

.white-brown-button:hover {
    background-color: #866347;
    color:white;
}