* {
    box-sizing: border-box;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
  
.navigation-header {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.global-promo {
    height: 43px;
    background-color: #2b3945;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.promo-content {
    font-family: "GT-Eesti 3r",Arial,sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: .5px;
}

.promo-content p {
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    justify-self: center;
}

.rightarrow {
    padding-top: 6px;
    font-size: 17px;
}

.west-buena {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    color: #363636;
    letter-spacing: .13px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
    margin-top:0px;
    height: 43px;
    align-items: center;
}

.my-name {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    font-size: 18px;
    color: #363636;
    letter-spacing: .13px;
    font-family: sans-serif;
    font-weight: bold;
    height: 43px;
    align-items: center;
}

#last-name {
    margin-left: 3px;
    color: #467e8b;
}

.technologies {
    height: 43px;
    background-color: rgb(248,248,248);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    height: 43px;
    align-items: center;
}

.technology-content {
    display: flex;
    flex-direction: row;
    color: #363636;
    font-size: 9.5px;
    letter-spacing: .8px;
    font-family: sans-serif;
}

.technology-content li {
    padding-right: 15px;
}

.global-navigation {
    height: 60px;
    display: flex;
    width: 95%;
}
  
.left-container {
    margin-left: 10px;
}
  
.secondary-navigation {
    height: 0px;
    display: flex;
    width: 100%;
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

.cart-menu {
      border: 1px solid black;
      display: inline-block;
}

.cart-content {
    border: 1px solid black;
    display: none;
    position: absolute;
}

.account-content {
    border: 1px solid black;
    position: absolute;
}
  
  
.cart-menu:hover .cart-content {
    display: block;
}