* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}
  
.navigation-header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.global-promo {
    height: 43px;
    background-color: #2b3945;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.promo-content {
    font-family: "GT-Eesti 3r",Arial,sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: .5px;
}

.promo-content p {
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    justify-self: center;
}
  
.global-navigation {
    height: 60px;
    display: flex;
    width: 95%;
}
  
.left-container {
    margin-left: 10px;
}
  
.secondary-navigation {
    height: 0px;
    display: flex;
    width: 100%;
    border-bottom: 2px solid rgba(34, 34, 34, 0.15);
}

.cart-menu {
      border: 1px solid black;
      display: inline-block;
}

.cart-content {
    border: 1px solid black;
    display: none;
    position: absolute;
}

.account-content {
    border: 1px solid black;
    position: absolute;
}
  
  
.cart-menu:hover .cart-content {
    display: block;
}